.Weather {
  border: 1px solid #dadde1;
  border-radius: 5px;
  color: rgb(130, 130, 130);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 30px;
  padding: 15px;
}

.Weather h1 {
  color: #979797;
  font-size: 28px;
  font-weight: 80;
  line-height: 30px;
  margin-top: 10px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 15px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  margin-right: 10px;
  color: #f51e7f;
  display: inline-block;
  position: relative;
  top: -8px;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(30, 30, 30);
  font-size: 55px;
  line-height: 50px;
  font-weight: 400;
  position: relative;
  top: -60px;
  right: -70px;
}

.Weather .unit {
  color: rgb(30, 30, 30);
  font-size: 14px;
  font-weight: 400;
  position: relative;
  top: -90px;
  right: -70px;
  line-height: 1;

  margin-left: 5px;
}
